<div class="container">
  <button class="btn btn-secondary mb-3" (click)="goBack()">
    <i class="bi bi-arrow-left"></i>
  </button>
  <h2 class="animated-heading">
    <i class="bi bi-file-earmark-plus me-2"></i>New Medical Case
  </h2>
  <form [formGroup]="caseForm" (ngSubmit)="submitCase()">
    <div class="mb-3">
      <div class="row mb-3">
        <mat-error *ngIf="showDefaultImageError()">
          Please select one display image.
        </mat-error>
        <div class="col-sm-4">
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" [checked]="images.at(0).get('isDefault')?.value"
              (change)="selectDisplayImage(0)" [disabled]="!imagePreviewUrls[0]" />
            <label class="form-check-label ms-1">Display Image</label>
          </div>
          <div class="upload-square" (click)="triggerFileInput('imageFile0')">
            <div class="text-center" *ngIf="!imagePreviewUrls[0]">
              <i class="bi bi-plus-circle fs-1 text-secondary"></i>
              <div>Upload Image 1</div>
            </div>
            <img *ngIf="imagePreviewUrls[0]" [src]="imagePreviewUrls[0]" class="uploaded-logo" alt="Image Preview" />
          </div>
          <input type="file" id="imageFile0" (change)="onFileChange($event, 0)" accept="image/*" hidden />
        </div>

        <div class="col-sm-4">
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" [checked]="images.at(1).get('isDefault')?.value"
              (change)="selectDisplayImage(1)" [disabled]="!imagePreviewUrls[1]" />
            <label class="form-check-label ms-1">Display Image</label>
          </div>
          <div class="upload-square" (click)="triggerFileInput('imageFile1')">
            <div class="text-center" *ngIf="!imagePreviewUrls[1]">
              <i class="bi bi-plus-circle fs-1 text-secondary"></i>
              <div>Upload Image 2</div>
            </div>
            <img *ngIf="imagePreviewUrls[1]" [src]="imagePreviewUrls[1]" class="uploaded-logo" alt="Image Preview" />
          </div>
          <input type="file" id="imageFile1" (change)="onFileChange($event, 1)" accept="image/*" hidden />
        </div>

        <div class="col-sm-4">
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" [checked]="images.at(2).get('isDefault')?.value"
              (change)="selectDisplayImage(2)" [disabled]="!imagePreviewUrls[2]" />
            <label class="form-check-label ms-1">Display Image</label>
          </div>
          <div class="upload-square" (click)="triggerFileInput('imageFile2')">
            <div class="text-center" *ngIf="!imagePreviewUrls[2]">
              <i class="bi bi-plus-circle fs-1 text-secondary"></i>
              <div>Upload Image 3</div>
            </div>
            <img *ngIf="imagePreviewUrls[2]" [src]="imagePreviewUrls[2]" class="uploaded-logo" alt="Image Preview" />
          </div>
          <input type="file" id="imageFile2" (change)="onFileChange($event, 2)" accept="image/*" hidden />
        </div>
      </div>
    </div>

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Medical Case Title</mat-label>
      <input matInput formControlName="name" placeholder="Medical Case Title" required>
      <mat-error *ngIf="caseForm.get('name')?.hasError('required')">Medical Case Title is required.</mat-error>
    </mat-form-field>

    <div class="row mb-3">
      <div class="col-md-6">

        <mat-form-field appearance="outline" class="w-100 mb-3">
          <mat-label>Specialityr</mat-label>
          <mat-select formControlName="speciality" multiple placeholder="Select one or more...">
            <mat-option>
              <ngx-mat-select-search [formControl]="specialitiesFilterCtrl"
                placeholderLabel="Search conditions"></ngx-mat-select-search>
            </mat-option>

            <mat-option *ngFor="let condition of filteredSpecialitiesOptions | async" [value]="condition">
              {{ condition }}
            </mat-option>
          </mat-select>

          <mat-error *ngIf="caseForm.get('speciality')?.hasError('required')">
            Please select at least one speciality.
          </mat-error>
          <mat-error *ngIf="caseForm.get('speciality')?.hasError('minlength')">
            Please select at least one speciality.
          </mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Patient Initials</mat-label>
          <input matInput formControlName="patientInitials" placeholder="e.g., AB" />
          <mat-error *ngIf="caseForm.get('patientInitials')?.hasError('required')">
            Patient Initials is required
          </mat-error>
          <mat-error *ngIf="caseForm.get('patientInitials')?.hasError('pattern')">
            Must be 2+ letters or hyphens (A–Z/-)
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Age</mat-label>
          <input matInput type="number" formControlName="age" placeholder="Age" />
          <mat-error *ngIf="caseForm.get('age')?.hasError('required')">
            Age is required
          </mat-error>
          <mat-error *ngIf="caseForm.get('age')?.hasError('min') || caseForm.get('age')?.hasError('max')">
            Age must be between 0 and 150
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="right-section dynamic-scroll-container">
      <h3>Chief Complaints</h3>
      <button type="button" class="btn btn-success add-button pointer-cursor" (click)="addComplaint()"
        title="Add Complaint">
        <i class="bi bi-plus-lg"></i>
      </button>
      <div class="table-responsive" style="overflow-x: auto; max-width: 100%;">
        <table class="table table-hover table-modern">
          <thead class="table-light">
            <tr>
              <th>Complaint</th>
              <th>Days</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody formArrayName="complaints">
            <mat-error *ngIf="complaints?.hasError('noComplaints')">At least one complaints is required</mat-error>
            <tr *ngFor="let complaint of complaints.controls; let i = index" [formGroupName]="i">
              <td>
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Complaint</mat-label>
                  <input matInput placeholder="Complaint" formControlName="name" required />
                  <mat-error *ngIf="complaint.get('name')?.hasError('required')">Required</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" style="width: 100%;">
                  <mat-label>Days</mat-label>
                  <input matInput type="number" placeholder="Days" formControlName="days" required />
                  <mat-error *ngIf="complaint.get('days')?.hasError('required')">Required</mat-error>
                </mat-form-field>
              </td>
              <td>
                <button class="btn btn-danger" (click)="removeComplaint(i)">-</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="form-floating mb-3">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Case Summary</mat-label>
        <textarea matInput formControlName="caseSummary" matTextareaAutosize required></textarea>
        <mat-error *ngIf="caseForm.get('caseSummary')?.hasError('required')">Case Summary is required.</mat-error>
      </mat-form-field>
    </div>

    <div lass="form-floating mb-3">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Diagnosis</mat-label>
        <textarea matInput formControlName="diagnosis" placeholder="Diagnosis." required></textarea>
        <mat-error *ngIf="caseForm.get('diagnosis')?.hasError('required')">Diagnosis is required.</mat-error>
      </mat-form-field>
    </div>

    <div class="form-floating mb-3">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Past History</mat-label>
        <textarea matInput formControlName="pastHistory" matTextareaAutosize></textarea>
      </mat-form-field>
    </div>
    <div class="form-floating mb-3">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Examination</mat-label>
        <textarea matInput formControlName="examination" matTextareaAutosize></textarea>
      </mat-form-field>
    </div>
    <div class="form-floating mb-3">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Investigations</mat-label>
        <textarea matInput formControlName="investigations" matTextareaAutosize></textarea>
      </mat-form-field>
    </div>
    <div class="form-floating mb-3">
      <mat-form-field appearance="outline" class="w-100 mb-3">
        <mat-label>Treatment</mat-label>
        <textarea matInput formControlName="treatment" matTextareaAutosize></textarea>
      </mat-form-field>
    </div>

    <button type="submit" class="btn btn-primary w-100">Submit</button>
  </form>
</div>