<div class="container">

  <h1 class="animated-heading">
    <i class="bi bi-file-earmark-medical me-2"></i>Patient Management
  </h1>
  <div class="row mb-3 align-items-center">
    <div class="col-md-8 col-sm-6 d-flex justify-content-start flex-wrap">
      <div class="mb-2 me-3 filter-container">
        <div class="mb-2 me-3 filter-container">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Search Patients</mat-label>
            <input matInput placeholder="Search by Name" [(ngModel)]="searchValue" (input)="searchPatient()" />
          </mat-form-field>
        </div>

      </div>
    </div>
    <div class="col-md-4 col-sm-6 d-flex justify-content-end flex-wrap pointer-cursor">
      <button class="btn btn-primary me-2" (click)="openAddPatientPopup()">Add New Patient</button>
      <button class="btn btn-primary" (click)="openAddDependentPopup()">Add New Dependent</button>
    </div>
  </div>
</div>
<div>
  <div class="table-container" infiniteScroll infiniteScrollDistance="2">
    <table class="table table-hover table-modern">
      <thead>
        <tr>
          <th (click)="sortTable('name')">Patient Name</th>
          <th (click)="sortTable('dateOfBirth')">Date Of Birth</th>
          <th (click)="sortTable('mobile')">Mobile Number</th>
          <th (click)="sortTable('abhaid')">ABHA Id</th>
          <th (click)="sortTable('secondaryId')">Secondary Id</th>
          <th (click)="sortTable('lastVisitedDate')">Last Visited Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of filteredPatients">
          <td>{{ patient.firstName }} {{ patient.middleName }} {{ patient.lastName }}</td>
          <td>{{ patient.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
          <td>{{ patient.mobile }}</td>
          <td>{{ patient.abhaid }}</td>
          <td>{{ patient.secondaryId }}</td>
          <td>{{ patient.lastVisitedDate ? (patient.lastVisitedDate | date: 'dd/MM/yyyy') : 'NA' }}</td>
          <td>
            <div class="action-buttons">
              <button class="btn btn-primary btn-sm m-1 pointer-cursor" (click)="editPatient(patient)"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Edit Patient">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-info btn-sm m-1 pointer-cursor" (click)="viewPrescriptions(patient)"
                data-bs-toggle="tooltip" data-bs-placement="top" title="View Prescription">
                <i class="bi bi-eye"></i>
              </button>
              <button class="btn btn-warning btn-sm  m-1 pointer-cursor" (click)="openOtpPopup(patient)"
                data-bs-toggle="tooltip" data-bs-placement="top" title="History">
                <i class="bi bi-clock-history"></i>
              </button>
              <button class="btn btn-success btn-sm  m-1 pointer-cursor" (click)="createPrescription(patient)"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Generate Prescription">
                <i class="bi bi-file-earmark-text"></i>
              </button>
              <button class="btn btn-secondary btn-sm  m-1 pointer-cursor" (click)="createCertificate(patient)"
                data-bs-toggle="tooltip" data-bs-placement="top" title="Generate Medical Certificate">
                <i class="bi bi-file-earmark-medical"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div *ngIf="patients.length === 0" class="alert alert-info">
  No patients record created yet. Click "Add New Patient" to get started.
</div>

<!-- Add Patient Modal -->
<div class="modal fade" data-bs-backdrop='static' id="addPatientModal" tabindex="-1"
  aria-labelledby="addPatientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add/Edit Patient</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="patientForm" (ngSubmit)="savePatient()">
          <div class="row">
            <!-- Mobile -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Mobile</mat-label>
                <input matInput formControlName="mobile" placeholder="Enter Mobile Number"
                  (input)="onMobileInputChange()" />
                <mat-error *ngIf="patientForm.get('mobile')?.hasError('required')">
                  Mobile number is required.
                </mat-error>
                <mat-error *ngIf="patientForm.get('mobile')?.hasError('pattern')">
                  Enter a valid 10-digit Indian mobile number.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Name -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="Enter First Name" />
                <mat-error *ngIf="patientForm.get('firstName')?.hasError('required')">
                  First Name is required.
                </mat-error>
                <mat-error *ngIf="patientForm.get('firstName')?.hasError('pattern')">Please enter a valid first
                  name.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Middle Name</mat-label>
                <input matInput formControlName="middleName" placeholder="Enter Middle Name" />
                <mat-error *ngIf="patientForm.get('middleName')?.hasError('pattern')">Please enter a valid middle
                  name.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Enter Name" />
                <mat-error *ngIf="patientForm.get('lastName')?.hasError('required')">
                  Last Name is required.
                </mat-error>
                <mat-error *ngIf="patientForm.get('lastName')?.hasError('pattern')">Please enter a valid last
                  name.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- Gender -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
                <mat-error *ngIf="patientForm.get('gender')?.hasError('required')">
                  Gender is required.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Date of Birth -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="dobPicker" formControlName="dateOfBirth"
                  placeholder="Enter Date of Birth" />
                <mat-datepicker-toggle matSuffix [for]="dobPicker"></mat-datepicker-toggle>
                <mat-datepicker #dobPicker></mat-datepicker>
                <mat-error *ngIf="patientForm.get('dateOfBirth')?.hasError('required')">
                  Date of Birth is required.
                </mat-error>
                <mat-error *ngIf="patientForm.get('dateOfBirth')?.hasError('minAge')">
                  Must be 18+ years
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- ABHA ID -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>ABHA ID</mat-label>
                <input matInput formControlName="abhaid" placeholder="Enter ABHA ID" />
                <mat-error *ngIf="patientForm.get('abhaid')?.hasError('pattern')">
                  ABHA ID must be alphanumeric.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Secondary ID -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Secondary ID</mat-label>
                <input matInput formControlName="secondaryId" placeholder="Enter Secondary ID" />
                <mat-error *ngIf="patientForm.get('secondaryId')?.hasError('pattern')">
                  Secondary ID must be alphanumeric.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Save Button -->
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="savePatient()">
              {{ isEditMode ? 'Save Changes' : 'Add Patient' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- OTP Verification Modal -->
<div class="modal fade" data-bs-backdrop='static' id="otpModal" tabindex="-1" aria-labelledby="otpModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header text-center">
        <h5 class="modal-title w-100 otp-title">Verify OTP</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="verifyOtpForm" class="text-center">
          <!-- Mobile Input (Readonly) -->
          <mat-form-field appearance="outline" class="full-width compact-field">
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="contact" readonly class="centered-text" />
          </mat-form-field>

          <!-- OTP Inputs -->
          <div formArrayName="otp" class="otp-section d-flex justify-content-center">
            <input maxlength="1" *ngFor="let control of otpControls.controls; let i = index" [formControlName]="i"
              class="otp-input text-center" (keyup)="moveToNext($event, i)" (keydown.enter)="onEnterKey()">
          </div>

          <!-- Verify OTP Button -->

          <div class="button-container">
            <button type="button" class="btn btn-primary" (click)="verifyOtp()" [disabled]="!areAllOtpFilled()">
              Verify OTP
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" data-bs-backdrop='static' id="addDependentModal" tabindex="-1"
  aria-labelledby="addDependentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add/Edit Dependent</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="dependentForm" (ngSubmit)="saveDependent()">
          <div class="row">
            <!-- Mobile -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Mobile</mat-label>
                <input matInput formControlName="mobile" placeholder="Enter Mobile Number"
                  (input)="onDependentMobileInputChange()" />
                <mat-error *ngIf="dependentForm.get('mobile')?.hasError('required')">
                  Mobile number is required.
                </mat-error>
                <mat-error *ngIf="dependentForm.get('mobile')?.hasError('pattern')">
                  Enter a valid 10-digit Indian mobile number.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Name -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>First Name</mat-label>
                <input matInput formControlName="firstName" placeholder="Enter First Name" />
                <mat-error *ngIf="dependentForm.get('firstName')?.hasError('required')">
                  First Name is required.
                </mat-error>
                <mat-error *ngIf="dependentForm.get('firstName')?.hasError('pattern')">Please enter a valid first
                  name.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Middle Name</mat-label>
                <input matInput formControlName="middleName" placeholder="Enter Middle Name" />
                <mat-error *ngIf="dependentForm.get('middleName')?.hasError('pattern')">Please enter a valid middle
                  name.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Last Name</mat-label>
                <input matInput formControlName="lastName" placeholder="Enter Name" />
                <mat-error *ngIf="dependentForm.get('lastName')?.hasError('required')">
                  Last Name is required.
                </mat-error>
                <mat-error *ngIf="dependentForm.get('lastName')?.hasError('pattern')">Please enter a valid last
                  name.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- Gender -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender">
                  <mat-option value="Male">Male</mat-option>
                  <mat-option value="Female">Female</mat-option>
                </mat-select>
                <mat-error *ngIf="dependentForm.get('gender')?.hasError('required')">
                  Gender is required.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Date of Birth -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Date of Birth</mat-label>
                <input matInput [matDatepicker]="dobPickerDependent" formControlName="dateOfBirth"
                  placeholder="Enter Date of Birth" />
                <mat-datepicker-toggle matSuffix [for]="dobPickerDependent"></mat-datepicker-toggle>
                <mat-datepicker #dobPickerDependent></mat-datepicker>
                <mat-error *ngIf="dependentForm.get('dateOfBirth')?.hasError('required')">
                  Date of Birth is required.
                </mat-error>
                <mat-error *ngIf="dependentForm.get('dateOfBirth')?.hasError('minAge')">
                  Must be 18+ years
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <!-- ABHA ID -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>ABHA ID</mat-label>
                <input matInput formControlName="abhaid" placeholder="Enter ABHA ID" />
                <mat-error *ngIf="dependentForm.get('abhaid')?.hasError('pattern')">
                  ABHA ID must be alphanumeric.
                </mat-error>
              </mat-form-field>
            </div>

            <!-- Secondary ID -->
            <div class="col-md-6 mb-3">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Secondary ID</mat-label>
                <input matInput formControlName="secondaryId" placeholder="Enter Secondary ID" />
                <mat-error *ngIf="dependentForm.get('secondaryId')?.hasError('pattern')">
                  Secondary ID must be alphanumeric.
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <!-- Save Button -->
          <div class="modal-footer d-flex justify-content-between">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveDependent()">
              {{ isEditMode ? 'Save Changes' : 'Add Dependent' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>