<div class="capsule-container">
  <div class="logo-container">
    <div class="logo-animated"></div>
    <a class="navbar-brand" href="#">
      <span class="brand-text">
        <span class="text-health">Health</span>
        <span class="text-desk">Desk</span>
      </span>
    </a>
  </div>

  <h3 class="page-header">Select Your Role</h3>
  <div class="roles-container">
    <div class="row">
      <div class="role-tile col physician-img m-1" (click)="selectRole('Physician')">
        <img src="assets/physician.png" alt="Physician" />
        <div class="role-title">Physician</div>
      </div>
      <div class="role-tile col m-1" (click)="selectRole('Patient')">
        <img src="assets/patient.png" alt="Patient" />
        <div class="role-title">Patient</div>
      </div>
      <div class="role-tile col m-1" (click)="selectRole('Hospital')">
        <img src="assets/hospital.png" alt="Hospital" />
        <div class="role-title">Hospital</div>
      </div>
    </div>
    <div class="row">
      <div class="role-tile col m-1" (click)="selectRole('Laboratory')">
        <img src="assets/lab.png" alt="Laboratory" />
        <div class="role-title">Laboratory</div>
      </div>
      <div class="role-tile col m-1" (click)="selectRole('Pharmacy')">
        <img src="assets/neutra.png" alt="Pharmacy" />
        <div class="role-title">Pharmacy</div>
      </div>
      <div class="role-tile col m-1" (click)="selectRole('Pharmaceutical')">
        <img src="assets/pharma.png" alt="Pharmaceutical" />
        <div class="role-title">Pharmaceutical Co.</div>
      </div>
    </div>
  </div>
  <div class="divider">or</div>

  <div class="auth-options">
    <p class="signup-text">
      Already have an account?
      <a (click)="navigateToLogin()" class="signup-link cursor-pointer">
        <mat-icon>person_add</mat-icon><b><u>Login</u></b>
      </a>
    </p>
    <p class="signup-text">
      <a (click)="navigateVerifyPassword()" class="cursor-pointer">
        <mat-icon>lock_open</mat-icon> <b><u>Forgot Password ?</u></b>
      </a>
    </p>
  </div>