$sky-blue-500: #005cbb;

.form-floating>.form-select:not([value=""])~label {
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
    color: #6c757d; // Default label color
}


.form-floating>.form-select:focus {
    border-color: $sky-blue-500;
}

.form-floating>.form-select:focus~label {
    color: $sky-blue-500;
    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem); // Ensure the label is floated on focus
}

.form-floating .form-select {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}