<div class="container">
    <h1 class="animated-heading">
        <i class="bi bi-prescription me-2"></i>Treatment
    </h1>

    <!-- Tabs for Ongoing and Past Treatments -->
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link pointer-cursor" [ngClass]="{'active': activeTab === 'ongoing'}"
                (click)="filterTreatments('ongoing')">
                Ongoing Treatments
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link pointer-cursor" [ngClass]="{'active': activeTab === 'past'}"
                (click)="filterTreatments('past')">
                Past Treatments
            </a>
        </li>
    </ul>

    <!-- Date Filter -->
    <div class="row mb-3 align-items-center">
        <div class="col-md-8 col-sm-6 d-flex justify-content-start flex-wrap">
            <form [formGroup]="filterForm" class="w-100">
                <div class="row">
                    <!-- Start Date -->
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Filter by Start Date</mat-label>
                            <input matInput [matDatepicker]="f_startDatePicker" formControlName="f_startDate" />
                            <mat-datepicker-toggle matSuffix [for]="f_startDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #f_startDatePicker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <!-- End Date -->
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Filter by End Date</mat-label>
                            <input matInput [matDatepicker]="f_endDatePicker" formControlName="f_endDate" />
                            <mat-datepicker-toggle matSuffix [for]="f_endDatePicker"></mat-datepicker-toggle>
                            <mat-datepicker #f_endDatePicker></mat-datepicker>
                            <mat-error *ngIf="filterForm.get('f_endDate')?.hasError('invalidDateRange')">
                                Cannot be earlier than start date.
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-6 d-flex justify-content-end">
            <button class="btn btn-primary" (click)="openTreatmentModal(false)">Add Treatment</button>
        </div>
    </div>


    <!-- Treatment Table -->
    <div class="table-responsive">
        <table class="table table-hover table-modern">
            <thead>
                <tr>
                    <th (click)="sortTable('brand')">Drug Brand Name</th>
                    <th (click)="sortTable('treatmentDrug')">Drug Generic Name</th>
                    <th (click)="sortTable('dosageForm')">Dosage Form</th>
                    <th (click)="sortTable('strength')">Strength</th>
                    <th (click)="sortTable('frequency')">Frequency</th>
                    <th (click)="sortTable('startDate')">Start Date</th>
                    <th (click)="sortTable('endDate')">End Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let treatment of filteredTreatments">
                    <td>{{ treatment.brand }}</td>
                    <td>{{ treatment.treatmentDrug }}</td>
                    <td>{{ treatment.dosageForm }}</td>
                    <td>{{ treatment.strength }} {{ treatment.strengthUnit }}</td>
                    <td>{{ treatment.frequency }}</td>
                    <td>{{ treatment.startDate | date: 'dd-MM-yyyy' }}</td>
                    <td>{{ treatment.endDate ? (treatment.endDate | date: 'dd-MM-yyyy') : 'Ongoing' }}</td>
                    <td class="text-center">
                        <button class="btn btn-warning btn-sm me-1" (click)="openTreatmentModal(true, treatment)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteTreatment(treatment)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- No Records Found -->
        <div *ngIf="filteredTreatments?.length === 0" class="alert alert-info">
            No treatments found. Click "Add Treatment" to get started.
        </div>
    </div>

    <!-- Add/Edit Treatment Modal -->
    <div class="modal fade" data-bs-backdrop='static' data-bs-focus="false" id="treatmentModal" tabindex="-1"
        aria-labelledby="treatmentModalLabel" aria-hidden="true" #treatmentModal>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="treatmentModalLabel">{{ isEditMode ? 'Edit Treatment' : 'Add Treatment'
                        }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="treatmentForm">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Drug Brand Name</mat-label>
                                    <mat-select formControlName="brand" required>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="brandFilterCtrl"
                                                placeholderLabel="Search Brand"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let brand of filteredBrands | async" [value]="brand">
                                            {{ brand }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="treatmentForm.get('brand')?.hasError('required')">
                                        Drug Brand is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Treatment Drug -->
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Drug Generic Name</mat-label>
                                    <mat-select formControlName="treatmentDrug" (selectionChange)="onDrugChange()" required>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="drugFilterCtrl"
                                                placeholderLabel="Search treatment drug"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let drug of filteredDrugs | async" [value]="drug">
                                            {{ drug }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="treatmentForm.get('treatmentDrug')?.hasError('required')">
                                        Treatment drug is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                           
                           
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Dosage Form</mat-label>
                                    <mat-select formControlName="dosageForm" (selectionChange)="onDosageFormChange()" required [disabled]="!!treatmentForm.get('dosageForm')?.disabled">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="dosageFormFilterCtrl"
                                                placeholderLabel="Search dosage form"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let form of filteredDosageForms | async" [value]="form">
                                            {{ form }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="treatmentForm.get('dosageForm')?.hasError('required')">
                                        Dosage form is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <!-- Strength Unit -->
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Strength Unit</mat-label>
                                    <mat-select formControlName="strengthUnit" required [disabled]="!!treatmentForm.get('strengthUnit')?.disabled">
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="strengthUnitFilterCtrl"
                                                placeholderLabel="Search strength unit"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let unit of filteredStrengthUnits | async" [value]="unit">
                                            {{ unit }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="treatmentForm.get('strengthUnit')?.hasError('required')">
                                        Strength unit is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Frequency -->
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Frequency</mat-label>
                                    <mat-select formControlName="frequency" required>
                                        <mat-option>
                                            <ngx-mat-select-search [formControl]="frequencyFilterCtrl"
                                                placeholderLabel="Search frequency"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let frequency of filteredFrequencies | async"
                                            [value]="frequency">
                                            {{ frequency }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="treatmentForm.get('frequency')?.hasError('required')">
                                        Frequency is required.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Start Date -->
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Start Date</mat-label>
                                    <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" />
                                    <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #startDatePicker></mat-datepicker>
                                    <mat-error *ngIf="treatmentForm.get('startDate')?.hasError('required')">
                                        Start date is required.
                                    </mat-error>
                                    <mat-error *ngIf="treatmentForm.get('startDate')?.hasError('futureDate')">
                                        Start date cannot be in the future.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <!-- End Date -->
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>End Date <i class="bi bi-info-circle text-primary" data-bs-toggle="tooltip" 
                                        title="If end date is in the future, keep this blank and edit it once treatment ends">
                                     </i> </mat-label>
                                    <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" />
                                    <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                                    <mat-datepicker #endDatePicker></mat-datepicker>
                                    <mat-error *ngIf="treatmentForm.get('endDate')?.hasError('futureDate')">
                                        End date cannot be in the future.
                                    </mat-error>
                                    <mat-error *ngIf="treatmentForm.get('endDate')?.hasError('invalidDateRange')">
                                        Date cannot be before start date.
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <!-- Comment -->
                            <div class="col-md-6">
                                <mat-form-field appearance="outline" class="w-100">
                                    <mat-label>Comment</mat-label>
                                    <textarea matInput formControlName="comment"></textarea>
                                    <mat-error *ngIf="treatmentForm.get('comment')?.hasError('maxLength')">
                                        Comment cannot exceed 100 characters.
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer  d-flex justify-content-between">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="saveTreatment()">
                        {{ isEditMode ? 'Save Changes' : 'Add Treatment' }}
                    </button>
                </div>
            </div>
        </div>
    </div>