<div class="container">
  <!-- Heading -->
  <h1 class="animated-heading mb-4">
    <i class="bi bi-file-earmark-medical me-2"></i>Prescriptions
  </h1>
  <div class="col-sm-1 text-start mb-2">
    <button type="button" class="btn btn-secondary" (click)="goBack()" data-bs-toggle="tooltip"
      data-bs-placement="right" title="Back">
      <i class="bi bi-arrow-left"></i>
    </button>
  </div>
  <!-- Search by Last Visited Date -->
  <div class="row mb-3 align-items-center">
    <div class="col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Search by Last Visited Date</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="searchDate" (dateChange)="searchPrescriptions()"
          placeholder="Select Date" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <!-- Prescriptions Table -->
  <div class="table-responsive">
    <table class="table table-hover table-modern">
      <thead>
        <tr>
          <th>Sr.No.</th>
          <th>Last Visited Date</th>
          <th>Illness</th>
          <th>Prescription</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pres of filteredPrescriptions; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ pres.lastVisitedDate | date: 'dd/MM/yyyy' }}</td>
          <td>{{ pres.illness }}</td>
          <td>
            <ng-container *ngIf="pres.prescriptionUrl; else noUrl">
              <a [href]="pres.prescriptionUrl" target="_blank">View PDF</a>
            </ng-container>
            <ng-template #noUrl>
              N/A
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="filteredPrescriptions.length === 0" class="alert alert-info">
      No prescriptions found.
    </div>
  </div>
</div>
