<div class="container">
  <h1 class="animated-heading">
    <i class="bi bi-share me-2"></i>Share Survey: {{ surveyTitle }}
  </h1>

  <!-- Survey URL Section -->
  <div class="input-group mb-4">
    <input type="text" class="form-control" [(ngModel)]="surveyShareLink" readonly placeholder="Survey Link" />
    <button class="btn btn-outline-secondary" type="button" (click)="copyLink()">Copy</button>
  </div>
  <p *ngIf="isLinkCopied" class="text-success">Link copied to clipboard!</p>
  <div class="row mb-3 align-items-center">
    <!-- Search Bar -->
    <div class="col">
      <div class="mb-2 me-3">
        <mat-form-field appearance="outline" class="w-100" class="w-100">
          <mat-label>Search by Physician</mat-label>
          <input matInput placeholder="Search by Physician" [(ngModel)]="searchValue" (input)="applyFilters()" />
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div class="mb-2 me-3">
        <mat-form-field appearance="outline" class="w-100" class="w-100">
          <mat-label>Search by Speciality</mat-label>
          <input matInput placeholder="Search by Speciality" [(ngModel)]="specialitySearchText"
            (input)="applyFilters()" />
        </mat-form-field>
      </div>
    </div>
    <div class="col">
      <div class="mb-2 me-3">
        <mat-form-field appearance="outline" class="w-100" class="w-100">
          <mat-label>Search by Location</mat-label>
          <input matInput placeholder="Search by Location" [(ngModel)]="citySearchText" (input)="applyFilters()" />
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Doctors Table -->
  <div class="table-responsive">
    <table class="table table-hover table-modern">
      <thead>
        <tr>
          <th>Physician Name</th>
          <th>Speciality</th>
          <th>City</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doctor of filteredDoctors">
          <td>{{ doctor.name }}</td>
          <td>{{ doctor.speciality }}</td>
          <td>{{ doctor.location }}</td>
          <td>
            <mat-checkbox [(ngModel)]="doctor.selected">Select</mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="filteredDoctors?.length === 0" class="alert alert-info">
      No physicians found.
  </div>
  </div>

  <!-- Send Button -->
  <div class="text-end mt-3">
    <button class="btn btn-primary" [disabled]="!hasSelectedDoctors()" (click)="sendSurvey()">
      Send Survey
    </button>
  </div>
</div>