<div class="container">
  <h1 class="animated-heading">
    <i class="bi bi-box-seam me-2"></i>Surveys
  </h1>
  <div class="row mb-3 align-items-center">
    <div class="col-md-8 col-sm-6 d-flex justify-content-start flex-wrap">
      <div class="mb-2 me-3">
        <mat-form-field appearance="outline" class="w-100" class="w-100">
          <mat-label>Search Surveys</mat-label>
          <input matInput placeholder="Search by Name" [(ngModel)]="surveySearchText" (input)="applyFilters()" />
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 d-flex justify-content-end flex-wrap">
      <button class="btn btn-primary" (click)="openCreateSurvey()">
        Create Survey
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-modern">
      <thead>
        <tr>
          <th>Sr. No</th>
          <th (click)="sortTable('name')">Form Name</th>
          <th (click)="sortTable('author')">Author</th>
          <th (click)="sortTable('date')">Created Date</th>
          <th (click)="sortTable('is_active')">Active</th>
          <th (click)="sortTable('responses')">Responses</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let survey of filteredSurveys; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ survey.name }}</td>
          <td>{{ survey.author }}</td>
          <td>{{ survey.date | date }}</td>
          <td>{{ survey.is_active ? 'Yes' : 'No' }}</td>
          <td>{{ survey.responses.length || 0 }}</td>
          <td>
            <button class="btn btn-secondary btn-sm me-1" (click)="shareSurvey(survey)">
              <i class="bi bi-share"></i>
            </button>
            <button class="btn btn-success btn-sm me-1" (click)="viewResponses(survey)">
              <i class="bi bi-eye"></i>
            </button>
            <button class="btn btn-warning btn-sm me-1" (click)="editSurvey(survey)">
              <i class="bi bi-pencil"></i>
            </button>
            <button class="btn btn-danger btn-sm" (click)="deleteSurvey(survey)">
              <i class="bi bi-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="filteredSurveys?.length === 0" class="alert alert-info">
      No history found. Click "Add History" to get started.
  </div>
  </div>
</div>