.upload-square {
    width: 250px;
    height: 200px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .uploaded-logo {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }