<div class="container">
  <button class="btn btn-secondary mb-3" (click)="goBack()">
    <i class="bi bi-arrow-left"></i> Back
  </button>
  <h2 class="animated-heading">
    <i class="bi bi-file-earmark-plus me-2"></i> New Home Remedy
  </h2>

  <form [formGroup]="remedyForm" (ngSubmit)="submitRemedy()">
    <div class="mb-3">
      <div class="row mb-3">
        <mat-error *ngIf="showDefaultImageError()">
          Please select one display image.
        </mat-error>
        <div class="col-sm-4">
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" [checked]="images.at(0).get('isDefault')?.value"
              (change)="selectDisplayImage(0)" [disabled]="!imagePreviewUrls[0]" />
            <label class="form-check-label ms-1">Display Image</label>
          </div>
          <div class="upload-square" (click)="triggerFileInput('imageFile0')">
            <div class="text-center" *ngIf="!imagePreviewUrls[0]">
              <i class="bi bi-plus-circle fs-1 text-secondary"></i>
              <div>Upload Image 1</div>
            </div>
            <img *ngIf="imagePreviewUrls[0]" [src]="imagePreviewUrls[0]" class="uploaded-logo" alt="Image Preview" />
          </div>
          <input type="file" id="imageFile0" (change)="onFileChange($event, 0)" accept="image/*" hidden />
        </div>

        <div class="col-sm-4">
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" [checked]="images.at(1).get('isDefault')?.value"
              (change)="selectDisplayImage(1)" [disabled]="!imagePreviewUrls[1]" />
            <label class="form-check-label ms-1">Display Image</label>
          </div>
          <div class="upload-square" (click)="triggerFileInput('imageFile1')">
            <div class="text-center" *ngIf="!imagePreviewUrls[1]">
              <i class="bi bi-plus-circle fs-1 text-secondary"></i>
              <div>Upload Image 2</div>
            </div>
            <img *ngIf="imagePreviewUrls[1]" [src]="imagePreviewUrls[1]" class="uploaded-logo" alt="Image Preview" />
          </div>
          <input type="file" id="imageFile1" (change)="onFileChange($event, 1)" accept="image/*" hidden />
        </div>

        <div class="col-sm-4">
          <div class="form-check mb-2">
            <input class="form-check-input" type="checkbox" [checked]="images.at(2).get('isDefault')?.value"
              (change)="selectDisplayImage(2)" [disabled]="!imagePreviewUrls[2]" />
            <label class="form-check-label ms-1">Display Image</label>
          </div>
          <div class="upload-square" (click)="triggerFileInput('imageFile2')">
            <div class="text-center" *ngIf="!imagePreviewUrls[2]">
              <i class="bi bi-plus-circle fs-1 text-secondary"></i>
              <div>Upload Image 3</div>
            </div>
            <img *ngIf="imagePreviewUrls[2]" [src]="imagePreviewUrls[2]" class="uploaded-logo" alt="Image Preview" />
          </div>
          <input type="file" id="imageFile2" (change)="onFileChange($event, 2)" accept="image/*" hidden />
        </div>
      </div>
    </div>

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Home Remedy Name</mat-label>
      <input matInput formControlName="name" placeholder="Home Remedy Name" required>
      <mat-error *ngIf="remedyForm.get('name')?.hasError('required')">Home Remedy Name is required.</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Home Remedy For</mat-label>

      <mat-select formControlName="remedyFor" multiple placeholder="Select one or more...">
        <mat-option>
          <ngx-mat-select-search [formControl]="remedyForFilterCtrl"
            placeholderLabel="Search conditions"></ngx-mat-select-search>
        </mat-option>

        <mat-option *ngFor="let condition of filteredRemedyForOptions | async" [value]="condition">
          {{ condition }}
        </mat-option>
      </mat-select>

      <mat-error *ngIf="remedyForm.get('remedyFor')?.hasError('required')">
        Please select at least one remedy-for.
      </mat-error>
      <mat-error *ngIf="remedyForm.get('remedyFor')?.hasError('minlength')">
        Please select at least one remedy-for.
      </mat-error>
    </mat-form-field>

    <div class="right-section dynamic-scroll-container">
      <h3>Ingredients</h3>
      <button class="btn btn-success add-button pointer-cursor" (click)="addIngredient()" title="Add Ingredient"
        type="button">
        <i class="bi bi-plus-lg"></i>
      </button>

      <div class="table-responsive" style="overflow-x: auto; max-width: 100%;">
        <table class="table table-hover table-modern">
          <thead class="table-light">
            <tr>
              <th>Ingredient</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody formArrayName="ingredients">
            <mat-error *ngIf="ingredients?.hasError('noIngredients')">At least one ingredient is required</mat-error>
            <tr *ngFor="let ing of ingredients.controls; let i = index" [formGroupName]="i">
              <td>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Ingredient</mat-label>
                  <input matInput formControlName="name" required placeholder="e.g. Ginger">
                  <mat-error *ngIf="ing.get('name')?.hasError('required')">Required</mat-error>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Quantity</mat-label>
                  <input matInput type="number" formControlName="quantity" required placeholder="e.g. 2">
                  <mat-error *ngIf="ing.get('quantity')?.hasError('required')">Required</mat-error>
                </mat-form-field>
              </td>
              <td>
                <button class="btn btn-danger" type="button" (click)="removeIngredient(i)">X</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- Preparation Method -->
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Short Description</mat-label>
      <textarea matInput formControlName="description" placeholder="Describe what is the remedy for."
        required></textarea>
    </mat-form-field>

    <!-- Preparation Method -->
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Preparation Method</mat-label>
      <textarea matInput formControlName="preparationMethod" placeholder="Describe how to prepare the remedy"
        required></textarea>
    </mat-form-field>

    <!-- Usage Directions -->
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Usage Directions</mat-label>
      <textarea matInput formControlName="usageDirection" placeholder="How to use the remedy" required></textarea>
    </mat-form-field>

    <!-- Precautions -->
    <mat-form-field appearance="outline" class="w-100 mb-3">
      <mat-label>Precautions</mat-label>
      <textarea matInput formControlName="precaution" placeholder="Any precautions or side effects"></textarea>
    </mat-form-field>

    <!-- Submit Button -->
    <button type="submit" class="btn btn-primary w-100">Submit Home Remedy</button>
  </form>
</div>