.carousel-fixed-size {
  max-width: 600px;
  margin: 0 auto;

  .carousel-inner,
  .carousel-item {
    height: 300px;
  }

  img {
    height: 100%;
    object-fit: cover;
  }
}

li.comment-enter {
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.3s ease-in-out;
}

li.comment-enter-active {
  opacity: 1;
  transform: translateY(0);
}