<div class="container">
  <h1 class="animated-heading">
    Welcome!! How can I help you today?
  </h1>

  <div class="row justify-content-start mb-4">
    <!-- Card 1 -->
    <div class="col-md-3">
      <div class="card small h-100 fade-in">
        <img src="assets/hosp_services.png" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Physicians and Services</h5>
          <p class="card-text">Add/Modify Physician or Services details.</p>
          <a href="organization/hospital/hospital-management" class="btn btn-primary">Go to Physicians and Services</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="col-md-3">
      <div class="card small h-100 fade-in">
        <img src="assets/hosp_cases.png" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Cases</h5>
          <p class="card-text">Add/view medical cases.</p>
          <a href="organization/hospital/cases" class="btn btn-primary">Go to Cases</a>
        </div>
      </div>
    </div>

    <!-- Placeholder for Card 3 -->
    <div class="col-md-3"></div>

    <!-- Placeholder for Card 4 -->
    <div class="col-md-3"></div>
  </div>
</div>