<div class="container">
  <h1 class="animated-heading">
    Welocme!! How can I help you today?
  </h1>
  <div class="row justify-content-center mb-2">
    <div class="col card small">
      <div class="h-100 fade-in">
        <img src="assets/design-prescription.png" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Hospital Management</h5>
          <p class="card-text">Manage Hospital.</p>
          <a href="organization/hospital/hospital-management" class="btn btn-primary">Go to Hospital Management</a>
        </div>
      </div>
    </div>
    <div class="col card small">
      <div class="h-100 fade-in">
        <img src="assets/patient-record.png" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">Cases</h5>
          <p class="card-text">View and manage Cases.</p>
          <a href="organization/hospital/cases" class="btn btn-primary">Go to Cases</a>
        </div>
      </div>
    </div>
  </div>
</div>