<div class="container">
  <h1 class="animated-heading">
    Welocme!! How can I help you today?
  </h1>
  <div *ngIf="userData.status !== 'Approved'" class=" blink-message alert bg-danger fade show mt-3" role="alert">
    <strong>Complete Your Profile!</strong> To access HealthDesk utilities, please complete your profile. Clicking any button will redirect you to the profile page.<a href="account/" class="btn btn-primary">Click Here</a>
  </div>
    <div class="row justify-content-center mb-2">
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/design-prescription.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Medical History</h5>
            <p class="card-text">Access and update medical history.</p>
            <a *ngIf="userData.status !== 'Approved'" href="account/" class="btn btn-primary">Go to Medical History</a>
            <a *ngIf="userData.status === 'Approved'" href="/patient/history" class="btn btn-primary">Go to Medical History</a>
          </div>
        </div>
      </div>
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/patient-record.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Treatments</h5>
            <p class="card-text">Review and analyze Treatments.</p>
            <a *ngIf="userData.status !== 'Approved'" href="account/" class="btn btn-primary">Go to Treatments</a>
            <a *ngIf="userData.status === 'Approved'" href="/patient/treatment" class="btn btn-primary">Go to Treatments</a>
          </div>
        </div>
      </div>
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/appointment.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Manage Appointments</h5>
            <p class="card-text">Accept/Reject and manage appointments.</p>
            <a *ngIf="userData.status !== 'Approved'" href="account/" class="btn btn-primary">Go to Appointments</a>
            <a *ngIf="userData.status === 'Approved'" href="/patient/appointments" class="btn btn-primary">Go to Appointments</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/medical-journal.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Self Records</h5>
            <p class="card-text">Review and analyze Self Records.</p>
            <a *ngIf="userData.status !== 'Approved'" href="account/" class="btn btn-primary">Go to Self Records</a>
            <a *ngIf="userData.status === 'Approved'" href="/patient/self-recording" class="btn btn-primary">Go to Self Records</a>
          </div>
        </div>
      </div>
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/cases.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Medicine Refill & Complaince</h5>
            <p class="card-text">Access and update Medicine Refill & Complaince.</p>
            <a *ngIf="userData.status !== 'Approved'" href="account/" class="btn btn-primary">Go to Medicine Refill & Complaince</a>
            <a *ngIf="userData.status === 'Approved'" href="/patient/refill" class="btn btn-primary">Go to Medicine Refill & Complaince</a>
          </div>
        </div>
      </div>
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/survey.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Diet and Daily Physical Activity</h5>
            <p class="card-text">Create and manage Diet and Daily Physicial Activity.</p>
            <a *ngIf="userData.status !== 'Approved'" href="account/" class="btn btn-primary">Go to Daily Physical Activity</a>
            <a *ngIf="userData.status === 'Approved'" href="/patient/daily-activity" class="btn btn-primary">Go to Daily Physical Activity</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/survey.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Search and Rate</h5>
            <p class="card-text">Search and Rate.</p>
            <a *ngIf="userData.status !== 'Approved'" href="account/" class="btn btn-primary">Go to Search and Rate</a>
            <a *ngIf="userData.status === 'Approved'" href="/patient/rate" class="btn btn-primary">Go to Search and Rate</a>
          </div>
        </div>
      </div>
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/survey.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Home Remidies</h5>
            <p class="card-text">Create and manage Home Remidies.</p>
            <a *ngIf="userData.status !== 'Approved'" href="account/" class="btn btn-primary">Go to Home Remidies</a>
            <a *ngIf="userData.status === 'Approved'" href="/patient/remidies" class="btn btn-primary">Go to Home Remidies</a>
          </div>
        </div>
      </div>
    </div>
  </div>