<div class="container">
  <h2 class="animated-heading">
    <i class="bi bi-clipboard me-2"></i>Surveys
  </h2>
  <div class="row mb-3 align-items-center">
    <div class="col-md-6 d-flex justify-content-start flex-wrap">
      <div class="mb-2 me-3">
        <div class="input-group">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Search by Title</mat-label>
            <input matInput placeholder="Search by title" [(ngModel)]="searchTerm" (input)="filterSurveys()" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table table-hover table-modern">
      <thead>
        <tr>
          <th>Sr.No</th>
          <th (click)="sort('title')">Title</th>
          <th (click)="sort('description')">Description</th>
          <th (click)="sort('author')">Author</th>
          <th (click)="sort('date')">Date</th>
          <th (click)="sort('isTaken')">Responded?</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let survey of filteredSurveys; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ survey.title }}</td>
          <td>{{ survey.description }}</td>
          <td>{{ survey.author }}</td>
          <td>{{ survey.date | date }}</td>
          <td>{{ survey.isTaken?'Yes': 'No' }}</td>
          <td>
            <button *ngIf="survey.isTaken" class="btn btn-info btn-sm me-1" (click)="takeSurvey(survey.id)"
              data-bs-toggle="tooltip" data-bs-placement="top" title="View Survey">
              <i class="bi bi-eye"></i>
            </button>

            <!-- Take button only if NOT yet taken -->
            <button *ngIf="!survey.isTaken" class="btn btn-primary btn-sm" (click)="takeSurvey(survey.id)"
              data-bs-toggle="tooltip" data-bs-placement="top" title="Take Survey">
              <i class="bi bi-arrow-up-right-square"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="filteredSurveys?.length === 0" class="alert alert-info">
      No surveys found.
    </div>
  </div>
</div>