<div class="container">
    <h1 class="animated-heading">
      Welocme Username!! How can I help you today?
    </h1>
    <div class="row justify-content-center mb-2">
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/design-prescription.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Pharma Management</h5>
            <p class="card-text">Manage Pharma.</p>
            <a href="organization/pharma/pharma-management" class="btn btn-primary">Go to Pharma Management</a>
          </div>
        </div>
      </div>
      <div class="col card small">
        <div class="h-100 fade-in">
          <img src="assets/patient-record.png" class="card-img-top" alt="">
          <div class="card-body">
            <h5 class="card-title">Surveys</h5>
            <p class="card-text">View and create Surveys.</p>
            <a href="organization/pharma/surveys" class="btn btn-primary">Go to Surveys</a>
          </div>
        </div>
      </div>
    </div>
  </div>