<footer class="footer text-center text-lg-start shadow-sm">
  <div class="container p-2">
    <div class="d-flex justify-content-between align-items-center">
      <div class="flex-grow-1"></div>
      <div class="text-center">
        <div class="social-icons mb-2">
          <a href="#" class="text-dark me-3"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-dark me-3"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-dark me-3"><i class="bi bi-instagram"></i></a>
          <a href="#" class="text-dark"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="terms">
          <a href="#!" class="text-dark">Terms and Conditions</a>
        </div>
      </div>
      <div class="flex-grow-1 text-end">
        &copy; Ytal Tech Solutions & Services LLP | Version 1.0.0
      </div>
    </div>
  </div>
</footer>
