// Import Bootstrap
@import "bootstrap/scss/bootstrap";

// Variables for custom colors
$primary-color: #d76745bc; // From logo
$secondary-color: #a159ffd2; // From logo
$background-image: url('/assets/background.jpg');
$dark-background-image: url('/assets/background1.jpg');
$font-family: 'Roboto', sans-serif;

// Additional colors from the background
$background-light-blue: #7ac7fd;
$background-medium-blue: #7dcbfc;
$background-dark-blue: #65ade7;
$background-lightest-blue: #7cc9fd;
$background-darker-blue: #63abe5;

// Additional colors from the logo
$logo-white: #ffffff;
$logo-light-red: #ff7261;
$logo-green: #0fcf82d1;

// Global styles
body {
  background-image: $background-image;
  background-size: cover;
  font-family: $font-family;
  margin: 0;
  padding: 0;

  &.dark-mode {
    background-image: $dark-background-image;
    background-color: rgba(0, 0, 0, 0.85);
    color: #e0e0e0;

    .navbar,
    .footer,
    main,
    .sidebar {
      background-color: rgba(0, 0, 0, 0.9) !important;
      color: #f8f9fa !important;

      .nav-link,
      .social-icons a,
      .terms {
        color: #f8f9fa !important;

        &:hover {
          color: lighten(#f8f9fa, 20%) !important;
        }
      }
    }

    .card {
      background-color: rgba(33, 33, 33, 0.9) !important;
      color: #e0e0e0 !important;
      box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    }

    .btn-primary,
    .btn-secondary {
      &:hover {
        background-color: darken($primary-color, 10%) !important;
        background-color: darken($secondary-color, 10%) !important;
      }
    }

    .form-control,
    .form-select {
      background-color: rgba(33, 33, 33, 0.9) !important;
      color: #e0e0e0 !important;
      border: 1px solid #555 !important;

      &:focus {
        border-color: $primary-color !important;
        box-shadow: 0 0 0 0.2rem rgba(229, 62, 62, 0.25) !important;
      }
    }

    .profile-img,
    .logo img {
      filter: invert(1) !important;
    }

    .sidebar .nav-link {
      &:hover {
        color: lighten(#e0e0e0, 20%) !important;
      }
    }

    .navbar-brand {
      color: $background-dark-blue !important;
    }
  }
}

// Navbar
.navbar {
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  .navbar-brand {
    font-weight: bold;
    font-size: 1.75rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, text-shadow 0.3s;
    position: relative;
  }

  .text-health {
    color: #AA336A;
    /* Pink */
  }

  .text-desk {
    color: #1b81da;
    /* Blue */
  }

  .brand-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  .nav-link {
    color: $secondary-color;
    font-size: 1rem;
    transition: color 0.3s, transform 0.3s;

    &:hover {
      color: darken($secondary-color, 10%);
      transform: scale(1.1);
    }
  }

  .profile-img {
    object-fit: cover;
    border-radius: 50%;
    width: 30px;
    height: 30px;
  }

  .form-check-input {
    width: 50px;
    height: 25px;
    background-color: $primary-color;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    &:before {
      content: '';
      position: absolute;
      top: 2.5px;
      left: 2.5px;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      transition: transform 0.3s;
    }

    &.active {
      background-color: $secondary-color;

      &:before {
        transform: translateX(25px);
      }
    }
  }

  .form-check-label {
    margin-left: 0.5rem;
  }

  .nav-bold {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: text-shadow 0.3s, transform 0.3s;
    font-family: 'Roboto', sans-serif;
    position: relative;

    &:hover {
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
      transform: scale(1.1);
    }
  }
}

// Main content
main {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  overflow-y: auto;
  height: calc(100vh - 60px - 40px); // Adjust height for header and footer
  scrollbar-width: thin; // For Firefox
  scrollbar-color: $primary-color $background-light-blue; // For Firefox

  // For webkit browsers
  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: $background-light-blue;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 10px;
  }

  .btn-primary {
    &:hover {
      background-color: $secondary-color;
      transform: translateY(-3px);
    }
  }
}

// Sidebar
.sidebar {
  width: 4.5rem;
  transition: all 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);

  &:hover {
    width: 12rem;
  }

  .nav-link {
    opacity: 0.7;
    transition: opacity 0.3s, transform 0.3s;

    &:hover {
      opacity: 1;
      transform: translateY(-5px);
    }

    i {
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }
  }

  .logo img {
    transition: transform 0.3s;

    &:hover {
      transform: rotate(360deg);
    }
  }
}

// Footer
.footer {
  width: 100%; // Ensure the footer takes full width
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px 10px; // Reduce padding
  font-size: 0.8rem; // Further reduced font size

  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .social-icons {
    display: flex;
    justify-content: center; // Center the social icons
    margin-bottom: 5px; // Reduced space between icons and terms link

    a {
      color: #7ac7fd !important; // light blue color
      font-size: 1.2rem; // Reduced icon size
      transition: color 0.3s;
      margin: 0 5px; // Spacing between icons

      &:hover {
        color: darken(#7ac7fd, 10%) !important;
      }
    }
  }

  .terms {
    a {
      color: #7ac7fd !important;
      text-decoration: none;
      transition: color 0.3s;

      &:hover {
        color: darken(#7ac7fd, 10%) !important;
      }
    }
  }

  &.dark-mode {
    background-color: rgba(0, 0, 0, 0.9) !important;
    color: #f8f9fa !important;

    .social-icons a {
      color: lighten(#7ac7fd, 20%) !important;
    }

    .terms a {
      color: #f8f9fa !important;
    }
  }
}

// Cards
.card {
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 0.5rem;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  &.pulse {
    animation: pulse 1.5s infinite;
  }

  @keyframes pulse {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.05);
    }

    100% {
      transform: scale(1);
    }
  }

  &.fade-in {
    animation: fadeIn 1s ease-in-out;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  &.small {
    .card-img-top {
      height: 100px;
    }

    .card-body {
      font-size: 0.8rem;
    }
  }

  &.medium {
    .card-img-top {
      height: 150px;
    }

    .card-body {
      font-size: 1rem;
    }
  }

  &.large {
    .card-img-top {
      height: 200px;
    }

    .card-body {
      font-size: 1.2rem;
    }
  }
}

// Buttons
.btn {
  transition: background-color 0.3s, transform 0.3s;

  &-primary {
    background-color: $primary-color;
    border: none;

    &:hover {
      background-color: darken($primary-color, 10%);
      transform: translateY(-3px);
    }
  }

  &-secondary {
    background-color: $secondary-color;
    border: none;

    &:hover {
      background-color: darken($secondary-color, 10%);
      transform: translateY(-3px);
    }
  }
}

// Inputs selects etc.
input[type="text"],
input[type="date"],
input[type="time"],
input[type="file"],
input[type="password"],
input[type="email"],
select {
  border-radius: 0.5rem;
  border: 1px solid #ced4da;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  color: #495057;

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 0 0.2rem rgba(229, 62, 62, 0.25);
  }
}

// Modern checkboxes and radio buttons
.form-check-input {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;

  &:checked {
    background-color: $primary-color;
    border-color: $primary-color;
  }
}

// Font sizes and styles
h1,
.h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: $primary-color;
}

h2,
.h2 {
  font-size: 2rem;
  font-weight: 600;
  color: $secondary-color;
}

h3,
.h3 {
  font-size: 1.75rem;
  font-weight: 500;
  color: darken($secondary-color, 5%);
}

h4,
.h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: lighten($primary-color, 5%);
}

h5,
.h5 {
  font-size: 1.25rem;
  font-weight: 400;
  color: lighten($primary-color, 10%);
}

h6,
.h6 {
  font-size: 1rem;
  font-weight: 400;
  color: lighten($primary-color, 10%);
}

.bg-secondary-lighten {
  background-color: #888e95f4;
}

// Toggle dark mode button
.dark-mode-toggle {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 25px;
  background-color: $primary-color;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;

  &:before {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
  }

  &.active {
    background-color: $secondary-color;

    &:before {
      transform: translateX(25px);
    }
  }
}

// Media Queries for Responsiveness
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem;
  }

  .nav-link {
    font-size: 0.9rem;
  }

  .profile-img {
    width: 25px;
    height: 25px;
  }

  .footer {
    font-size: 0.7rem;
    padding: 5px;
  }

  .card-img-top {
    height: 150px;
  }

  .sidebar {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  .sidebar .nav-link {
    display: inline-block;
    width: auto;
    padding: 10px;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.25rem;
  }

  .nav-link {
    font-size: 0.8rem;
  }

  .profile-img {
    width: 20px;
    height: 20px;
  }

  .footer {
    font-size: 0.6rem;
    padding: 5px;
  }

  .card-img-top {
    height: 100px;
  }

  main {
    padding: 10px;
    margin: 5px;
    height: calc(100vh - 60px - 30px); // Adjust height for header and footer
  }

  .sidebar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  .sidebar .nav-link {
    display: inline-block;
    width: auto;
    padding: 8px;
  }
}

// Media Queries for Small Devices (300x400, 400x500)
@media (max-width: 400px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .nav-link {
    font-size: 0.75rem;
  }

  .profile-img {
    width: 18px;
    height: 18px;
  }

  .footer {
    font-size: 0.5rem;
    padding: 3px;
  }

  .card-img-top {
    height: 80px;
  }

  main {
    padding: 10px;
    margin: 5px;
    height: calc(100vh - 60px - 30px); // Adjust height for header and footer
  }

  .sidebar {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
  }

  .sidebar .nav-link {
    display: inline-block;
    width: auto;
    padding: 8px;
  }
}

// Table, Tabs, and Animated Heading Styles
.animated-heading {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  animation: fadeIn 2s ease-in-out;
  background: linear-gradient(to right, #d76745bc, #880ED4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', sans-serif; // Modern font style
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

.animated-heading-small {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
  animation: fadeIn 2s ease-in-out;
  background: linear-gradient(to right, #d76745bc, #880ED4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Roboto', sans-serif; // Modern font style
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.table-modern {
  border: 1px solid #dee2e6;
  border-radius: 0.5rem;
  overflow: hidden;

  th {
    text-align: center;
    cursor: pointer;
    position: relative;
    padding: 0.75rem;
    background-color: #FEE2E2; // Light red from palette
    border-bottom: 2px solid #dee2e6;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s;

    &:hover {
      background-color: #FF69B4; // Slightly darker shade for hover effect
    }

    // 3D effect
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    &::after {
      content: '';
      position: absolute;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      border: 0.3rem solid transparent;
      border-top-color: #fff;
      transition: transform 0.3s ease-in-out;
    }

    &.asc::after {
      transform: translateY(-50%) rotate(180deg);
    }

    // Adding a gradient effect
    background: linear-gradient(145deg, #d8a8c0, #FF69B4);
    color: #111827; // Dark text color for contrast
  }

  td {
    padding: 0.75rem;
    border-bottom: 1px solid #dee2e6;
  }
}

.table-hover tbody tr:hover {
  background-color: rgba(252, 165, 165, 0.3); // Light red background on hover
}

.proposed-time {
  background-color: rgba(253, 230, 138, 0.6);
  /* Light yellow for proposed time */
}

.upcoming-appointment {
  background-color: rgba(167, 243, 208, 0.6);
  /* Light green for upcoming appointment */
}

.past-appointment {
  background-color: rgba(253, 164, 175, 0.6);
  /* Light pink for past appointment */
}

.tab-content {
  margin-top: 20px;
}

.modal-content {
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

body.dark-mode .modal-content {
  background-color: var(--bs-dark);
  color: var(--bs-light);
}

.tooltip-inner {
  max-width: 200px;
  width: auto;
  text-align: left;
}

.legend {
  display: flex;
  align-items: center;

  .legend-color {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5rem;
  }
}

.accept-tooltip {
  background-color: #34D399;
  color: #fff;
}

.propose-tooltip {
  background-color: #FDE68A;
  color: #000;
}

.reject-tooltip {
  background-color: #F87171;
  color: #fff;
}

.proposed-tooltip {
  background-color: #FDE68A;
  color: #000;
}

// Modern Tabs with lighter theme and gradient 3D effect
.nav-tabs {
  .nav-link {
    background: linear-gradient(145deg, #E0F2FE, #BAE6FD); // Light blue gradient
    color: #111827; // Dark text color
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: linear-gradient(145deg, #BAE6FD, #7DD3FC); // Darker blue on hover
    }

    &.active {
      background: linear-gradient(145deg, #7DD3FC, #38BDF8); // Even darker blue for active tab
      box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    }

    i {
      margin-right: 0.5rem;
    }
  }
}

@media (max-width: 768px) {
  .table-responsive {
    overflow-x: auto;
  }

  .row.mb-3 {
    flex-direction: column;
  }

  .col-md-8 {
    margin-top: 1rem;
  }
}

.light-green-row td {
  background-color: #32ed5ea9 !important;
  /* Light green */
}

.light-red-row td {
  background-color: #cf3c487b !important;
  /* Light red */
}

.light-yellow-row td {
  background-color: #e6b71d8a !important;
  /* Light yellow */
}

.pointer-cursor {
  cursor: pointer;
}

// Role selection tile styles
.role-tile {
  cursor: pointer;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.role-tile img {
  width: 100%;
  height: auto;
}

.role-name {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 0.5rem;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.3s;
}

.role-tile:hover .role-name {
  transform: translateY(0);
}

.role-tile:hover {
  transform: translateY(-10px);
}

// OTP field styles
.otp-input {
  display: flex;
  justify-content: center;
}

.otp-field {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  margin: 0 0.5rem;
}


.label-modern {
  font-size: 1.1rem;
  color: #0c0c0c;
  background: linear-gradient(145deg, #d8a8c0, #FF69B4);
  padding: 0.25rem;
  border-radius: 0.25rem;
  transition: transform 0.3s, background-color 0.3s;
}

.label-modern:hover {
  background-color: #d82c2c;
  transform: scale(1.05);
}