<div class="page-header text-center mb-4">
    <h1 class="animated-header">
        <i class="bi bi-person me-2"></i>
        Users
    </h1>
</div>
<div class="container-fluid bg-transparent userInfo">
    <div class="row">
        <div class="col-lg-2">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group">
                        <li class="statusLink list-group-item d-flex justify-content-between align-items-center bg-primary cursor-pointer"
                            (click)="filterRecords('All')">
                            All
                            <span class="badge bg-primary rounded-pill">{{countAll}}</span>
                        </li>
                        <li class="statusLink list-group-item d-flex justify-content-between align-items-center bg-warning cursor-pointer"
                            (click)="filterRecords('Submitted')">
                            Submitted
                            <span class="badge bg-primary rounded-pill">{{countSubmitted}}</span>
                        </li>
                        <li class="statusLink list-group-item d-flex justify-content-between align-items-center bg-success cursor-pointer"
                            (click)="filterRecords('Approved')">
                            Approved
                            <span class="badge bg-primary rounded-pill">{{countApproved}}</span>
                        </li>
                        <li class="statusLink list-group-item d-flex justify-content-between align-items-center bg-danger cursor-pointer"
                            (click)="filterRecords('Rejected')">
                            Rejected
                            <span class="badge bg-primary rounded-pill">{{countRejected}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <h5 class="card-title">User List</h5>
                        <button class="btn btn-success" (click)="exportToExcel()">
                            <i class="bi bi-download me-2"></i>Export to Excel
                        </button>
                    </div>
                    <table class="table table-hover table-responsive">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Phone/Email</th>
                                <th scope="col">City</th>
                                <th scope="col">Role</th>
                                <th scope="col">Dependant Name</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr scope="row" *ngFor="let user of filteredUsers; index as i" class="cursor-pointer"
                                (click)="userClicked(user.id, user.role)">
                                <td>{{i+1}}</td>
                                <td>{{user.name}}</td>
                                <td>{{user.contact}}</td>
                                <td>{{user.city}}</td>
                                <td>{{ user.role | titlecase}}</td>
                                <td>{{(user.dependentName) | titlecase}}</td>
                                <td><span class="listStatus"
                                        [ngClass]="[user.status=='Submitted' ? 'bg-warning' : user.status=='Approved' ? 'bg-success' : user.status=='Rejected' ? 'bg-danger' : '']">{{user.status}}</span>
                                </td>
                            </tr>
                            <tr *ngIf="!users">
                                <td colspan="4" class="text-center">
                                    <span class="spinner-border spinner-border-lg align-center"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>